# Basic rewrite settings
RewriteEngine on
RewriteBase /

# See if the resource that is requested is s file or folder on the server.
#
# If not, then send the request to the api: Eg: http://my-url-shortener.com/xyz123
# becomes http://my-url-shortener.com/api/?short_url=xyz123&redirect=true
# This way you will get redirected to the full url matching the short url you requested
#
# If the actual 301 redirect is not wanted (just the string value of the full url for use in an apllication for example as oppsoed to visiting the url shortener in a browser)
# then simply request http://my-url-shortener.com/api/?short_url=xyz123 to recieve {"full_url":"http:\/\/test.example.com"}
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api/?short_url=$1&redirect=true [R=301,L]


##################################################################################
########################## Page Speed Optimisation ###############################
##################################################################################
<IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE "application/atom+xml" \
                                  "application/javascript" \
                                  "application/json" \
                                  "application/ld+json" \
                                  "application/manifest+json" \
                                  "application/rdf+xml" \
                                  "application/rss+xml" \
                                  "application/schema+json" \
                                  "application/vnd.geo+json" \
                                  "application/vnd.ms-fontobject" \
                                  "application/x-font-ttf" \
                                  "application/x-javascript" \
                                  "application/x-web-app-manifest+json" \
                                  "application/xhtml+xml" \
                                  "application/xml" \
                                  "font/eot" \
                                  "font/opentype" \
                                  "image/bmp" \
                                  "image/svg+xml" \
                                  "image/vnd.microsoft.icon" \
                                  "image/x-icon" \
                                  "text/cache-manifest" \
                                  "text/css" \
                                  "text/html" \
                                  "text/javascript" \
                                  "text/plain" \
                                  "text/vcard" \
                                  "text/vnd.rim.location.xloc" \
                                  "text/vtt" \
                                  "text/x-component" \
                                  "text/x-cross-domain-policy" \
                                  "text/xml"
</IfModule>

<filesMatch "\.(ico|gif|jpg|png)$">
  ExpiresActive On
  ExpiresDefault "access plus 11 month"
  Header append Cache-Control "public"
</filesMatch>

<filesMatch "\.(css|js)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 month"
  Header append Cache-Control "public"
</filesMatch>

##################################################################################
########################## End Page Speed Optimisation ###########################
##################################################################################