.url-submit {
  display: block;
  height: 30px;
  width: 90%;
  font-size: 25px;
  box-sizing: border-box;
}

.main-heading {
  font-size: 35px;
}

.url-input {
  height: 30px;
  width: 90%;
  font-size: 25px;
  font-family: Courier, sans-serif;
}

.margin-middle {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.vertical-margin-small {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-margin-medium {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
  top: 200px;
  width: 75%;
  max-width: 500px;
  border: 3px solid #286090;
  padding-bottom: 15px;
}

#response-wrapper {
  position: relative;
  width: 75%;
  top: 200px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 3px solid #286090;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

#url_input {
  margin-bottom: 10px;
}

@media screen and (max-width: 755px) {
  .wrapper {
    top: 30px;

  }

  #response-wrapper {
    position: relative;
    top: 30px;
  }
}

#url-copy-button {
  height: 50px;
  width: auto;
  font-size: 32px;
  margin-bottom: 10px;
}
